@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
body {
  background-color: #363062;
  color: #E9D5DA;
  font-family: "Nunito", sans-serif;
}

#patientnumbox {
  display: flex;
  font-size: 25px;
  border-bottom: 2px solid #E9D5DA;
  width: max-content;
}

#container0 {
  display: flex;
  width: 100%;
  flex-direction: row;
}

#primcontainer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  border: 2px solid #E9D5DA;
  width: max-content;
  justify-content: center;
  height: fit-content;
}
#primcontainer #basicInfo {
  margin-top: 10px;
  width: max-content;
}
#primcontainer #genderdiv {
  display: flex;
  flex-direction: row;
}
#primcontainer #gendersel {
  margin: 10px;
  align-self: center;
  text-align: center;
  position: relative;
  left: 25%;
  width: 20%;
  background-color: transparent;
  border: 2px solid #827397;
  outline: 0;
  color: #E9D5DA;
  height: 36px;
  font-size: 18px;
  padding: 5px;
  border-radius: 10px;
}
#primcontainer #genderlabel {
  align-self: center;
  position: relative;
  left: 25%;
}

#prevdata {
  margin: 10px;
  width: 98%;
  height: 70vh;
  border: 1px solid #E9D5DA;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.prevdatacontainer {
  margin: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid #E9D5DA;
  width: 98%;
}

.prevdatatext {
  display: table;
  align-self: center;
  width: 98%;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  height: max-content;
}

.prevtextdate {
  text-align: left;
  display: table-cell;
}

.prevtextcomplaint {
  display: table-cell;
  height: max-content;
  padding-left: 2px;
}

.prevhistory {
  display: flex;
  width: 98%;
  font-size: 20px;
  align-self: flex-start;
  margin-left: 10px;
}

.prevdatacell {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #E9D5DA;
}

th {
  text-align: center;
  border-bottom: 1px solid #E9D5DA;
}

td {
  text-align: center;
  border: 1px solid #E9D5DA;
}

.bigbox {
  min-height: 350px;
  max-height: -moz-fit-content;
  max-height: fit-content;
  min-width: 50%;
  width: 98%;
}

.bigboxtitle {
  width: max-content;
  padding-bottom: 5px;
  font-family: "Nunito", sans-serif;
  color: #E9D5DA;
  font-size: 30px;
  border-bottom: 2px solid #E9D5DA;
}

.bigboxinput {
  color: #E9D5DA;
  border: 2px solid #827397;
  border-radius: 3px;
  min-height: 135px;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  max-width: 100%;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.attachmentinput {
  color: #E9D5DA;
  border: 2px solid #827397;
  border-radius: 3px;
  min-height: 135px;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  max-width: 100%;
}

#nextvisitdate {
  height: 20px;
  margin: 20px;
}

#tablediv {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

#table {
  position: relative;
  border: 2px solid #827397;
  width: 98%;
  align-self: center;
  text-align: center;
}
#table .medsinputdiv {
  width: 98%;
}

.medsentry {
  border: 2px solid #827397;
  display: table;
  width: 98%;
}
.medsentry .removebt {
  display: table-cell;
  outline: 0;
  text-align: center;
  width: 20%;
}
.medsentry .medsentrytext {
  display: table-cell;
  width: 80%;
}

.activecell {
  border: 2px solid white;
  position: relative;
}

#activeautofill {
  border: 2px solid #E9D5DA;
  position: absolute;
  width: 99%;
  overflow-y: auto;
  min-height: 30px;
  max-height: 90px;
  background-color: rgb(121, 35, 121);
  display: flex;
  flex-direction: column;
  color: #E9D5DA;
}

.autofilloption {
  border: 1px solid white;
  color: #E9D5DA;
}

.autofilloption:hover {
  background-color: azure;
  color: #827397;
}

#addrow {
  margin-left: 5px;
  background-color: transparent;
  outline: 0;
  border: 2px solid #827397;
  color: #E9D5DA;
  height: 30px;
}

#addrow:active {
  background-color: #827397;
}

#submitbox {
  display: flex;
  flex-direction: column;
}

#submit {
  margin: 10px;
  position: relative;
  height: 30px;
  width: 80px;
  align-self: flex-end;
}/*# sourceMappingURL=followup.css.map */