$primary:#E9D5DA;
$secondary:#827397;
$background:#363062;

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');



body {

    background-color: $background;
    color :$primary;
    font-family: 'Nunito', sans-serif;

    //display: flex;
    //flex-direction: column;
}


#patientnumbox{
    display: flex;
    font-size: 25px;
    border-bottom: 2px solid $primary;
    width: max-content;
}


#container0{
    display: flex;
    width: 100%;
    flex-direction: row;
   // border:2px solid $primary;

}




#primcontainer{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border:2px solid $primary;
    width: max-content;
    justify-content:center;
    height:fit-content;

    #basicInfo{
        margin-top: 10px;
        width:max-content   
    }
    


    #genderdiv{
        display: flex;
        flex-direction: row;
    }

    #gendersel{
        margin: 10px;
        align-self: center;
        text-align: center;
        position: relative;
        left: 25%;
        width: 20%;
        background-color: transparent;
        border:2px solid $secondary;
        outline: 0;
        color: $primary;
        height: 36px;
        font-size: 18px;
        padding: 5px;
        border-radius: 10px;

    }

    #genderlabel{
        align-self: center;
        position: relative;
        left: 25%;
    }

}

#prevdata{
    margin: 10px;
    width: 98%;
    height: 70vh; // half of visible window height minus margin
    border: 1px solid $primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.prevdatacontainer {
    margin: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid $primary;
    width: 98%;
}

.prevdatatext{
    display: table;
    align-self: center;
   // justify-content: center;
 //  border: 2px solid white;
    width: 98%;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    height: max-content;
}

.prevtextdate{
    text-align: left;
    display: table-cell;
   // border:2px solid $primary;

}

.prevtextcomplaint{
    display: table-cell;
 //   border:2px solid $primary;
    height: max-content;
    padding-left: 2px;

}

.prevhistory{
  display: flex;
  width: 98%;
  font-size: 18px;
  align-self: flex-start;
  margin-left: 10px;
  height: 30%;
  margin-top: -5px;


}

.prevhistorytitle{
  width:max-content;
  padding-bottom : 5px;
  font-family: 'Nunito', sans-serif;
  margin-left: 10px;
  font-size: 20px;
  text-align: left;
  border-bottom: 2px solid $primary;
  
}

.prevdatacell{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $primary;
}


th{
    text-align: center;
    border-bottom:1px solid $primary;

}

td{
    text-align: center;
    border: 1px solid $primary;
}

.bigbox {
  min-height: 350px;
  max-height: -moz-fit-content;
  max-height: fit-content;
  min-width: 50%;
  width:98%;
  //align-self: center;
}

.bigboxtitle {
  width:max-content;
  padding-bottom : 5px;
  font-family: 'Nunito', sans-serif;
  color: #E9D5DA;
  font-size: 30px;
  border-bottom:2px solid #E9D5DA;
}

.bigboxinput {
  color: #E9D5DA;
  border: 2px solid $secondary;
  border-radius: 3px;
  min-height: 135px;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  max-width: 100%;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.attachmentinput {
  color: #E9D5DA;
  border: 2px solid $secondary;
  border-radius: 3px;
  min-height: 135px;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  max-width: 100%;
}

#nextvisitdate{
  height: 20px;
margin: 20px;
}

#tablediv{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
  
  }
  
  #table{
    position: relative;
    border:2px solid $secondary;
    width: 98%;
    align-self: center;
  
    text-align: center;
  
    .medsinputdiv{
      width: 98%;
    }
  
  }
  
  .medsentry{
    border :2px solid $secondary;
    display: table;
    width:98%  ;
  
    .removebt{
        display: table-cell;
        outline:0;
        text-align: center;
  
        width: 20%;
    }
  
    .medsentrytext{
        display: table-cell;
    
        width:80%
    }
  }
  
  .activecell{
    border:2px solid white;
    position: relative;
  }
  
  #activeautofill{
    border: 2px solid $primary;
    position:absolute;
    width:99%;
    overflow-y: auto;
    min-height: 30px;
    max-height: 90px;
    background-color: rgb(121, 35, 121);
    display: flex;
    flex-direction: column;
    color: $primary;
  }
  
  .autofilloption{
    border: 1px solid white;
    color: $primary;
  }
  
  .autofilloption:hover{
    background-color: azure;
    color: $secondary;
  }
  
  
  #addrow{
    margin-left: 5px;
    background-color: transparent;
    outline: 0;
    border: 2px solid $secondary;
    color: $primary;
    height: 30px;
  
  
  }
  
  #addrow:active{
    background-color: $secondary;
  }



#submitbox{
  display: flex;
  flex-direction: column;

}

  #submit{
    margin: 10px;
    position: relative;
    height: 30px;
    width: 80px;
    align-self: flex-end;
  }