<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homeo Bois</title>
    <link rel="stylesheet" href="/static/css/dist/index.css">
</head>
<body>
    <div id="container0">    
            <button class="opts" id="new" >New</button>
            <button class="opts" id="mmrp">MMRP</button>
            <button class="opts" id="patients">PATIENTS</button>
    </div>
</body>
<script src="/static/js/index.js"></script>
</html>