<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" href="../static/css/dist/table.css">
    </head>
    <body>
        <div class="tablespace">
            <button type="button" id="addbutton" onclick="addrow()">+</button>
            <table id="table">
                <tr>
                    <th style="width: 3%;">Sl No</th>
                    <th style="width: 5%;">Size</th>
                    <th style="width: 10%;">Medium</th>
                    <th style="width: 15%;">Meds</th>
                    <th style="width: 15%;">Dosage</th>
                    <th style="width: 5%;">Cost</th>
                    <th style="width: 2%;">Remove</th>
                    <th style="width: 2%;">Duplicate</th>
                </tr>

            </table>
        </div>

       <center> <div id="totaldiv">TOTAL COST:<div id="totalcost"></div></div></center>
    </body>
    <script src="../static/js/table.js"></script>
</html>